<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/indexCSS.css"> <!-- Collegamento al file CSS esterno -->
    <link rel="icon" type="image/jpeg" href="/immagini/logo.jpg">
    <script src="/js/indexResponsiveResize.js" defer></script>
    <title>Login</title>
</head>
<body>
<h1><strong>HEALTH & SAFETY</strong></h1>
    <div class="wrapper">

        <div class="menu-icon" onclick="toggleMenu()">&#9776; Menu</div>

        <div class="menu-laterale">
            <nav class="side-menu">
                <ul>
                    <li><a class="active">Login</a></li>
                    <li><a href="/recupero">Recupero Password</a></li>
                </ul>
            </nav>
        </div>

        <!-- Contenitore principale -->
        <div class="main-container">
            <div class="login-container">

                <h2>Login</h2>
                <form th:action="@{/home}" method="post">

                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" required>

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>

                    <button type="submit">Invia</button>
                </form>
            </div>
        </div>
    </div>

    </body>
</html>