<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/indexCSS.css"> <!-- Collegamento al file CSS esterno -->
    <link rel="icon" type="image/jpeg" href="/immagini/logo.jpg">
    <script src="/js/indexResponsiveResize.js" defer></script>
    <title>Recupera Password</title>
</head>
<body>
<h1><strong>HEALTH & SAFETY</strong></h1>
<div class="wrapper">

    <div class="menu-icon" onclick="toggleMenu()">&#9776; Menu</div>

    <div class="menu-laterale">
        <nav class="side-menu">
            <ul>
                <li><a href="/" class="active">Login</a></li>
                <li><a href="/recupero">Recupero Password</a></li>
            </ul>
        </nav>
    </div>

    <div class="main-container">
        <div class="login-container">
            <h2>Login</h2>

            <form action="/resetPassword" method="post">
                <input type="hidden" name="token" th:value="${token}" />
                <input type="hidden" name="email" th:value="${email}" />

                <label for="password">Nuova Password:</label>
                <input type="password" id="password" name="password" required>

                <label for="confirmPassword">Conferma Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>

                <button type="submit">Reimposta Password</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>